@media only screen and (max-width: 767px) {
  .App {
    width: 767px;
  }

  body {
    display: flex;
    justify-content: center;
  }
}

.App {
  width: 767px;
}

body {
  display: flex;
  justify-content: center;
}
