@media only screen and (max-width: 767px) {
  .headerMain {
    background-color: red;
  }

  .ulHeaderMain {
    background: #cf4278;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin: 0;
  }

  .iconosMain {
    width: 25px;
  }

  .micCon {
    width: 16%;
    display: flex;
    justify-content: space-around;
  }

  .backText {
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.8em;
    font-weight: 700;
    color: white;
  }

  .headerTitle {
    font-size: 1.8em;
    font-weight: 700;
    color: white;
  }
}

.headerMain {
  background-color: red;
}

.ulHeaderMain {
  background: #cf4278;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin: 0;
}

.iconosMain {
  width: 25px;
}

.micCon {
  width: 16%;
  display: flex;
  justify-content: space-around;
}

.backText {
  width: 16%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.8em;
  font-weight: 700;
  color: white;
}

.headerTitle {
  font-size: 1.8em;
  font-weight: 700;
  color: white;
}
